<!DOCTYPE html>
<html>
<head>
    <title>Postgres Queries from PG_STAT_STATEMENTS</title>
    <link rel="icon" href="{{ url_for('static', filename='images/postgres.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.dataTables.css') }}" />
</head>
<body>
    <h1>Postgres Queries from PG_STAT_STATEMENTS</h1>
    <form method="post">
        <label for="user-filter">Filter by postgres User:</label>
        <select id="user-filter">
            <option value="">All users</option>
            {% for user in users %}
            <option value="{{ user }}">{{ user }}</option>
            {% endfor %}
        </select>
    
        <label for="database-filter">Filter by DataBase:</label>
        <select id="database-filter">
            <option value="">All databases</option>
            {% for database in databases %}
            <option value="{{ database }}">{{ database }}</option>
            {% endfor %}
        </select>    
        <input type="submit" name="query1" value="Refresh">
        <input type="submit" name="query2" value="Reset queries">
    </form>

    {% if data %}
    <table id="queriesTable" class="display">
        <thead>
            <tr>
                <th>QueryID</th>
                <th>Query</th>
                <th>Executions</th>
                <th>Total Time (ms)</th>
                <th>Avg time (ms)</th>
                <th>Database Name</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr class="query-row">
                <td>{{ row[0] }}</td>
                <td>
                    <details>
                        <summary>
                            <span class="short-query">
                                {% if row[1]|length > 155 %}
                                {{ row[1][:155] }}...
                                {% else %}
                                {{ row[1] }}
                                {% endif %}
                            </span>
                        </summary>
                        <pre style="font-family: monospace; white-space: pre-wrap; word-wrap: break-word;">{{ row[1] }}</pre>
                    </details>
                </td>
                <td>{{ row[2]|round(3) }}</td>
                <td>{{ row[3]|round(3) }}</td>
                <td>{{ row[4]|round(3) }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>                                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.js') }}"></script>
    <script>
// Aplicar modo oscuro a la tabla con libreía DataTables
            $(document).ready(function() {
                var table = $('#queriesTable').DataTable({
                    columnDefs: [
                        { type: 'num', targets: [2, 3, 4] } // Asegúrate de que las columnas con números se ordenen correctamente
                    ],
                    order: [[4, 'desc'] // Ordenar por número de ejecuciones
                    ],
                    // hacer responsive con porcentajes de ancho de columna para evitar scroll horizontal
                    "autoWidth": false,
                    "columns": [
                        { "width": "10%" },
                        { "width": "50%"},
                        { "width": "8%"},
                        { "width": "8%"},
                        { "width": "8%"},
                        { "width": "8%"},
                        { "width": "8%"}
                    ]
                });

                $('#user-filter').on('change', function() {
                    var user = $.fn.dataTable.util.escapeRegex(this.value);
                    table.column(6).search(user ? '^' + user + '$' : '', true, false).draw();
                });

                $('#database-filter').on('change', function() {
                    var database = $.fn.dataTable.util.escapeRegex(this.value);
                    table.column(5).search(database ? '^' + database + '$' : '', true, false).draw();
                });

                $('.query-row').click(function(e) {
                    var $this = $(this);
                    var fullQueryRow = $this.next('.full-query-row');
                    fullQueryRow.toggle();
                });
            });
    </script>
</body>
</html>
